@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model VDT2.ViewModels.ConferenciaConsultaVeiculosViewModel

@{
    Layout = "~/Views/Shared/_LayoutConferencia.cshtml";
}


<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
<script src="~/lib/ExportExcel/jquery-table2excel.js"></script>

<script src="~/js/Conferencia/ConsultaVeiculos.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css">


<div class="container">
    <div class="row">
        <div>
            <p>Quantidade Inspecionada: @Model.QuantidadeInspecionada</p>
            <p>Quantidade Com Avaria: @Model.VeiculosComAvaria  - @Model.PercentualAvariado %</p>
            <p>Quantidade Sem Avaria: @Model.VeiculosSemAvaria  - @Model.PercentualSemAvaria %</p>
        </div>

    </div>
</div>
<br /><br /><br />

<div class="container">
    <div class="row">
        <table id="tabela1" class="table table-striped table-bordered table-hover">
            <thead class="thead">
                <tr class="bg-info" id="tabConferenciaListaVeiculoHeader">
                    <th class="">InspecaoID</th>
                    <th class="">VeiculoID</th>
                    <th class="">AvariaID</th>
                    <th class="">Data</th>
                    <th class="">Chassi</th>
                    <th class="">Local</th>
                    <th class="">CheckPoint</th>
                    <th class="">Transportador</th>
                    <th class="">FrotaViagem</th>
                    <th class="">Navio</th>
                    <th class="">Marca</th>
                    <th class="">Modelo</th>
                    <th class="">Area</th>
                    <th class="">Condicao</th>
                    <th class="">Dano</th>
                    <th class="">Gravidade</th>
                    <th class="">Quadrante</th>
                    <th class="">Severidade</th>
                    <th class="">Custo</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListaInspAvaria_Cons)
            {
                    <tr class="tabConferenciaListaVeiculo">
                        <td>@item.Inspecao_ID</td>
                        <td>@item.InspVeiculo_ID</td>
                        <td>@item.InspAvaria_ID</td>
                        <td>@item.Data.ToString("dd/MM/yyyy")</td>
                        <td>@item.Chassi</td>
                        <td>@item.LocalNome</td>
                        <td>@item.CheckPointNome</td>
                        <td>@item.TransportadorNome</td>
                        <td>@item.FrotaViagemNome</td>
                        <td>@item.NavioNome</td>
                        <td>@item.MarcaNome</td>
                        <td>@item.ModeloNome</td>
                        <td>@item.Area_Pt</td>
                        <td>@item.Condicao_Pt</td>
                        <td>@item.Dano_Pt</td>
                        <td>@item.Gravidade_Pt</td>
                        <td>@item.Quadrante_Pt</td>
                        <td>@item.Severidade_Pt</td>
                        <td>@item.Custo</td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

<br /><br /><br />
<button type="button" class="btn btn-group-sm btn-default" onclick="window.print()">Imprimir</button>
<button type="button" class="btn btn-primary" onclick="Voltar()">Voltar</button>
<button type="button" id="BotaoExcel">Exportar Excel</button>
<br /><br /><br />

<script>
    function Voltar() {
        $("#frmVoltar").submit();
    }
</script>

<form id="frmVoltar" asp-action="Index" asp-controller="Home"></form>