@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model VDT2.ViewModels.ConsultaViewModel

@{
    Layout = "~/Views/Shared/_LayoutConferencia.cshtml";
}
<br />



<script src="~/lib/multiple-select/multiple-select.js"></script>
<link href="~/lib/multiple-select/multiple-select.css" rel="stylesheet" />

<form asp-controller="Conferencia" asp-action="ListarConsulta" method="post" id="ListarConsultaForm">

    <div class="row">
        @*Chassi*@
        <div class="col col-lg-2 col-md-2 col-sm-6 col-xs-6">
            <label asp-for="VIN_6" id="">Chassi</label>
        </div>
        <div class="col col-lg-2 col-md-2 col-sm-6 col-xs-6">
            <input asp-for="VIN_6" id="" data-toggle="tooltip" title="Insira o Chassi do Veículo!" placeholder="" value="@Model.VIN_6" maxlength="6" pattern=".{6,6}" class="form-control" autocomplete="off" />
        </div>


        @*Local Inspeção*@
        <div class="col col-lg-1 col-md-2 col-sm-6 col-xs-6">
            <label for="ListaLocalInspecao">Local Inspeção</label>
        </div>
        <div class="col col-lg-2 col-md-2 col-sm-6 col-xs-6">
            <select id="ListaLocalInspecao" name="LocalInspecao_ID" class="form-control" multiple="multiple" onchange="PreencheListaCheckPoint()"
                    asp-items="@(new SelectList(Model.ListaLocalInspecao,"LocalInspecao_ID","Nome"))"></select>
        </div>
    </div>

    <br/>
    <div class="row">
        @*Local CheckPoint*@
        <div class="col col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <label for="ListaLocalCheckPoint">Local CheckPoint</label>
        </div>
        <div class="col col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <select id="ListaLocalCheckPoint" name="LocalCheckPoint_ID" class="form-control" multiple="multiple"
                    asp-items="@(new SelectList(Model.ListaLocalCheckPoint,"LocalCheckPoint_ID", "Nome_Pt"))"></select>
        </div>



        @*Transportador*@
        <div class="row form-group">
            <div class="col col-lg-1 col-md-2 col-sm-2 col-xs-3">
                <label for="ListaTransportador" id="labelListaTransportador">Transportador</label>
            </div>
            <div class="col col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <select id="ListaTransportador" name="IdTipo" class="form-control" onchange="" multiple="multiple"
                        asp-items="@(new SelectList(Model.ListaTransportador,"IdTipo","Nome"))"></select>
            </div>
        </div>
    </div>


    @*Marca*@
    <div class="form-group">
        <div class="row">
            <div class="col col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <label for="ListaMarca" id="ListaMarcaLabel">Marca</label>
            </div>
            <div class="col col-lg-3 col-md-3 col-sm-8 col-xs-5">
                <select id="ListaMarca" name="Marca_ID" class="form-control" value="@Model.Marca_ID" multiple="multiple"
                        asp-items="@Model.ListaMarca"></select>
            </div>
            <input type="text" id="MarcaLabelHidden" value="@Model.Marca_ID" hidden />
        </div>
    </div>

    @*Modelo*@
    <div class="form-group">
        <div class="row">
            <div class="col col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <label for="ListaModelo" id="ListaModeloLabel">Modelo</label>
            </div>
            <div class="col col-lg-3 col-md-3 col-sm-8 col-xs-5">
                <select id="ListaModelo" name="Modelo_ID" class="form-control" multiple="multiple"
                        asp-items="@Model.ListaModelo" value="@Model.Modelo_ID"></select>
                <input type="text" id="ModeloLabelHidden" value="@Model.Modelo_ID" hidden />
            </div>
        </div>
    </div>

    @*ÁREA*@
    <div class="form-group">
        <div class="row">
            <div class="col col-lg-2 col-md-2  col-sm-5  col-xs-6 ladoesquerdo">
                <label for="areaNumericoInput" id="areaNumericoInputLabel">Área</label>
            </div>
            <div class="col col-lg-10 col-md-10 col-sm-7 col-xs-6 ladodireito">
                <select id="avAreaLista" name="Area_ID" class="form-control" multiple="multiple"
                        asp-items="@(new SelectList(Model.ListaArea, "AvArea_ID", "Nome_Pt"))"></select>
            </div>
        </div>
    </div>

    @*CONDICAO*@
    <div class="form-group">
        <div class="row">
            <div class="col col-lg-2 col-md-2  col-sm-5  col-xs-6 ladoesquerdo">
                <label for="avCondicaoLista" id="avCondicaoListaLabel">Condição</label>
            </div>
            <div class="col col-lg-10 col-md-10 col-sm-7 col-xs-6 ladodireito">
                <select id="avCondicaoLista" name="Condicao_ID" class="form-control" multiple="multiple"
                        asp-items="@(new SelectList(Model.ListaCondicao, "AvCondicao_ID", "Nome_Pt"))"></select>
            </div>
        </div>
    </div>

    @*DANO*@
    <div class="form-group">
        <div class="row">
            <div class="col col-lg-2 col-md-2  col-sm-5  col-xs-6 ladoesquerdo">
                <label for="avDanoRepositorioLista" id="avDanoRepositorioListaLabel">Dano</label>

            </div>
            <div class="col col-lg-10 col-md-10 col-sm-7 col-xs-6 ladodireito">
                <select id="avDanoRepositorioLista" name="Dano_ID" class="form-control" multiple="multiple"
                        asp-items="@(new SelectList(Model.ListaDano, "AvDano_ID", "Nome_Pt"))"></select>
            </div>
        </div>
    </div>

    @*GRAVIDADE*@
    <div class="form-group">
        <div class="row">
            <div class="col col-lg-2 col-md-2  col-sm-5  col-xs-6 ladoesquerdo">
                <label for="avGravidadeLista" id="avGravidadeLabel">Gravidade</label>
            </div>
            <div class="col col-lg-10 col-md-10 col-sm-7 col-xs-6 ladodireito">
                <select id="avGravidadeLista" name="Gravidade_ID" class="form-control" multiple="multiple"
                        asp-items="@(new SelectList(Model.ListaGravidade, "AvGravidade_ID", "Nome_Pt"))"></select>
            </div>
        </div>
    </div>

    @*QUADRANTE*@
    <div class="form-group">
        <div class="row">
            <div class="col col-lg-2 col-md-2  col-sm-5  col-xs-6 ladoesquerdo">
                <label for="avQuadranteLista" id="avQuadranteListaLabel">Quadrante</label>
            </div>

            <div class="col col-lg-10 col-md-10 col-sm-7 col-xs-6 ladodireito">
                <select id="avQuadranteLista" name="Quadrante_ID" class="form-control" multiple="multiple"
                        asp-items="@(new SelectList(Model.ListaQuadrante, "AvQuadrante_ID", "Nome_Pt"))"></select>
            </div>
        </div>
    </div>

    @*SERVERIDADE*@
    <div class="form-group">
        <div class="row">
            <div class="col col-lg-2 col-md-2  col-sm-5  col-xs-6 ladoesquerdo">
                <label for="avSeveridadeLista" id="avSeveridadeListaLabel">Severidade</label>
            </div>
            <div class="col col-lg-10 col-md-10 col-sm-7 col-xs-6 ladodireito">
                <select id="avSeveridadeLista" name="Severidade_ID" class="form-control" multiple="multiple"
                        asp-items="@(new SelectList(Model.ListaSeveridade, "AvSeveridade_ID", "Nome_Pt"))"></select>
            </div>
        </div>
    </div>

    @*DATA INICIO*@
    <div class="form-group">
        <div class="row">
            <div class="col col-lg-2 col-md-2  col-sm-5  col-xs-6 ladoesquerdo">
                <label>Data Inicial</label>
            </div>
            <div class="col col-lg-10 col-md-10 col-sm-7 col-xs-6 ladodireito">
                <input type="date" name="DataInicial" />
            </div>
        </div>

        @*DATA FINAL*@
        <div class="row">
            <div class="col col-lg-2 col-md-2  col-sm-5  col-xs-6 ladoesquerdo">
                <label>Data Final</label>
            </div>
            <div class="col col-lg-10 col-md-10 col-sm-7 col-xs-6 ladodireito">
                <input type="date" name="DataFinal" />
            </div>
        </div>

    </div>

    @*DEFEITO FABRICA*@
    <div class="form-group">
        <div class="row">
            <div class="col col-lg-2 col-md-2  col-sm-5  col-xs-6 ladoesquerdo">
                <label>Defeito de Fábrica</label>
            </div>
            <div class="col col-lg-10 col-md-10 col-sm-7 col-xs-6 ladodireito">
                <input name="Fabrica" type="checkbox" />
            </div>
        </div>
    </div>

    @*DEFEITO TRANSPORTE*@
    <div class="form-group">
        <div class="row">
            <div class="col col-lg-2 col-md-2  col-sm-5  col-xs-6 ladoesquerdo">
                <label>Defeito de Transporte</label>
            </div>
            <div class="col col-lg-10 col-md-10 col-sm-7 col-xs-6 ladodireito">
                <input name="Transporte" type="checkbox" />
            </div>
        </div>
    </div>


    @*TRANSPORTE MARITIMO*@
    <div class="form-group">
        <div class="row">
            <div class="col col-lg-2 col-md-2  col-sm-5  col-xs-6 ladoesquerdo">
                <label>Transportador Marítimo</label>
            </div>
            <div class="col col-lg-10 col-md-10 col-sm-7 col-xs-6 ladodireito">
                <input name="TransportadorMaritimo" type="checkbox" />
            </div>
        </div>
    </div>

    @*TRANSPORTE TERRESTRE*@
    <div class="form-group">
        <div class="row">
            <div class="col col-lg-2 col-md-2  col-sm-5  col-xs-6 ladoesquerdo">
                <label>Transportador Terrestre</label>
            </div>
            <div class="col col-lg-10 col-md-10 col-sm-7 col-xs-6 ladodireito">
                <input name="TransportadorTerrestre" type="checkbox" />
            </div>
        </div>
    </div>

    @*DANO ORIGEM*@
    <div class="form-group">
        <div class="row">
            <div class="col col-lg-2 col-md-2  col-sm-5  col-xs-6 ladoesquerdo">
                <label>Dano Origem</label>
            </div>
            <div class="col col-lg-10 col-md-10 col-sm-7 col-xs-6 ladodireito">
                <input name="DanoOrigem" type="checkbox" />
            </div>
        </div>
    </div>

    @*FROTA OU VIAGEM*@
    <div class="form-group">
        <div class="row">
            <div class="col col-lg-2 col-md-2  col-sm-5  col-xs-6 ladoesquerdo">
                <label>Frota ou Viagem</label>
            </div>
            <div class="col col-lg-10 col-md-10 col-sm-7 col-xs-6 ladodireito">
                <input name="FrotaViagem" type="text" />
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="row">
            <div class="col col-lg-2 col-md-2  col-sm-5  col-xs-6 ladoesquerdo">
                <label>Navio</label>
            </div>
            <div class="col col-lg-10 col-md-10 col-sm-7 col-xs-6 ladodireito">
                <input name="NavioNome" type="text" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <button type="submit">Consultar</button>
    </div>

</form>
<script>
    $('#ListaMarca').multipleSelect(
        {
            placeholder: "Selecione Marca"
        });
    $('#ListaModelo').multipleSelect(
        {
            placeholder: "Selecione Modelo"
        }
    );
    $("#avAreaLista").multipleSelect(
        {
            placeholder: "Selecione Área"
        });
    $("#avCondicaoLista").multipleSelect({
        placeholder: "Selecione Condicao"
    });
    $("#avDanoRepositorioLista").multipleSelect({
        placeholder: "Selecione Dano"
    });
    $("#avGravidadeLista").multipleSelect(
        {
            placeholder: "Selecione Gravidade"
        });
    $("#avQuadranteLista").multipleSelect(
        {
            placeholder: "Selecione Quadrante"
        });
    $('#avSeveridadeLista').multipleSelect(
        {
            placeholder: "Selecione Severidade"
        });
    $('#ListaTransportador').multipleSelect(
        {
            placeholder: "Selecione Transportador"
        });
    $('#ListaLocalCheckPoint').multipleSelect(
        {
            placeholder: "Selecione LocalCheckPoint"
        });
    $('#ListaLocalInspecao').multipleSelect(
        {
            placeholder: "Selecione LocalInspecao"
        });
</script>



