@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model VDT2.ViewModels.ConsultaViewModel

@{
    Layout = "~/Views/Shared/_LayoutConferencia.cshtml";
}
<br />



<script src="~/lib/multiple-select/multiple-select.js"></script>
<link href="~/lib/multiple-select/multiple-select.css" rel="stylesheet" />

<form asp-controller="Conferencia" asp-action="ListarConsulta" method="post" id="ListarConsultaForm">

    <div>
        <input type="text" value="@Model.Cliente.Cliente_ID" name="Cliente.Cliente_ID" />
        @*@Html.TextBoxFor(model => model.Cliente.Cliente_ID)*@ 
    </div>


    <div class="container">
        <h3><strong>Consulta</strong></h3><br /><br />
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Filtros de Inspeção</a></li>
            <li><a data-toggle="tab" href="#menu1">Veículo</a></li>
            <li><a data-toggle="tab" href="#menu2">Avarias</a></li>

        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div class="form-group">
                    <br />

                    <!--Primeira coluna de Datas-->
                    <div class="row">
                        @*DATA INICIO*@
                        <div class="col col-lg-1 col-md-2 col-sm-2 col-xs-2">
                            <label>Data Inicial</label>
                        </div>
                        <div class="colcol-lg-2 col-md-2 col-sm-10 col-xs-10">
                            <input type="date" name="DataInicial" class="inputsTelaConferenciaConsulta form-control" />
                        </div>

                        @*DATA FINAL*@
                        <div class="col col-lg-offset-1 col-md-offset-1 col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <label>Data Final</label>
                        </div>
                        <div class="col col-lg-6 col-md-6 col-sm-10 col-xs-10">
                            <input type="date" name="DataFinal" class="inputsTelaConferenciaConsulta form-control" />
                        </div>
                    </div>
                    <br />

                    <!--Segunda coluna de Locais-->
                    <div class="row">

                        @*Local Inspeção*@
                        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2">
                            <label for="ListaLocalInspecao">Local</label>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-10 col-xs-10">
                            <select id="ListaLocalInspecao" name="LocalInspecao_ID" class="inputsTelaConferenciaConsulta form-control" multiple="multiple" onchange="PreencheListaCheckPoint()"
                                    asp-items="@(new SelectList(Model.ListaLocalInspecao,"LocalInspecao_ID","Nome"))"></select>
                        </div>
                        @*Local CheckPoint*@
                        <div class="col-lg-offset-1 col-md-offset-1 col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <label for="ListaLocalCheckPoint">CheckPoint</label>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <select id="ListaLocalCheckPoint" name="LocalCheckPoint_ID" class="inputsTelaConferenciaConsulta form-control" multiple="multiple"
                                    asp-items="@(new SelectList(Model.ListaLocalCheckPoint,"LocalCheckPoint_ID", "Nome_Pt"))"></select>
                        </div>
                    </div>


                    <!--Terceira coluna de Navio e Transportador-->
                    <br />
                    <div class="row">
                        @*Transportador*@
                        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2">
                            <label for="ListaTransportador" id="labelListaTransportador">Transportador</label>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-10 col-xs-10">
                            <select id="ListaTransportador" name="IdTipo" class="inputsTelaConferenciaConsulta form-control" onchange="" multiple="multiple"
                                    asp-items="@(new SelectList(Model.ListaTransportador,"IdTipo","Nome"))"></select>
                        </div>

                        @*NAVIO*@
                        <div class="col-lg-offset-1 col-md-offset-1 col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <label>Navio</label>
                        </div>
                        <div class="col-lg-6 col-md-2 col-sm-2 col-xs-2">
                            <input name="NavioNome" type="text" class="inputsTelaConferenciaConsulta form-control" />
                        </div>
                    </div>

                    <br />
                    <!--Quarta Coluna Tipos Transportador-->
                    <div class="row">
                        @*TRANSPORTE MARITIMO*@
                        <div class="col-lg-2 col-md-3 col-sm-2 col-xs-3">
                            <label>Transportadores Marítimos</label>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-10 col-xs-9">
                            <input name="TransportadorMaritimo" type="checkbox" class="checkboxTelaConsulta" />
                        </div>


                        @*TRANSPORTE TERRESTRE*@

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                            <label>Transportadores Terrestres</label>
                        </div>
                        <div class="col-lg-6 col-md-2 col-sm-10 col-xs-9">
                            <input name="TransportadorTerrestre" type="checkbox" class="checkboxTelaConsulta" />
                        </div>

                    </div>


                    <!--Quinta Coluna Frota ou Viagem-->
                    <div class="row">
                        @*FROTA OU VIAGEM*@
                        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2">
                            <label>Frota ou Viagem</label>
                        </div>
                        <div class="col-lg-10 col-md-2 col-sm-10 col-xs-10">
                            <input name="FrotaViagem" type="text" class="inputsTelaConferenciaConsulta form-control" />
                        </div>

                    </div>
                </div>
            </div>

            <div id="menu1" class="tab-pane fade">
                <br />


                <!--Primeiro row, menu1 [Veículo] Chassi-->
                <div class="row">
                    <div class="col col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <label asp-for="VIN_6" id="">Chassi</label>
                    </div>
                    <div class="col col-lg-11 col-md-11 col-sm-10 col-xs-10">
                        <input asp-for="VIN_6" id="" data-toggle="tooltip"
                               title="Insira o Chassi do Veículo!" placeholder=""
                               value="@Model.VIN_6" maxlength="6" pattern=".{6,6}"
                               class="inputsTelaConferenciaConsulta form-control" autocomplete="off" />
                    </div>
                </div>

                <br />
                <!--Segundo row, menu1 [Veículo] Marca e Modelo-->
                <div class="row">
                    @*Marca*@
                    <div class="col col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <label for="ListaMarca" id="ListaMarcaLabel">Marca</label>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-10 col-xs-9">
                        <select id="ListaMarca" name="Marca_ID" class="inputsTelaConferenciaConsulta form-control" value="@Model.Marca_ID" multiple="multiple"
                                asp-items="@Model.ListaMarca"></select>
                        <input type="text" id="MarcaLabelHidden" value="@Model.Marca_ID" hidden />
                    </div>


                    @*Modelo*@
                    <div class="col col-lg-offset-1 col-md-offset-1 col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <label for="ListaModelo" id="ListaModeloLabel">Modelo</label>
                    </div>

                    <div class="col-lg-6 col-md-1 col-sm-10 col-xs-10">
                        <select id="ListaModelo" name="Modelo_ID" class="inputsTelaConferenciaConsulta form-control" multiple="multiple"
                                asp-items="@Model.ListaModelo" value="@Model.Modelo_ID"></select>
                        <input type="text" id="ModeloLabelHidden" value="@Model.Modelo_ID" hidden />
                    </div>
                </div>
            </div>

            <div id="menu2" class="tab-pane fade">
                <br />

                <!--Primeiro row - Menu2 [Avarias]-->

                <div class="row">

                    @*ÁREA*@
                    <div class="col col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <label for="areaNumericoInput" id="areaNumericoInputLabel">Área</label>
                    </div>
                    <div class="col-col-lg-2 col-md-2 col-sm-10 col-xs-10">
                        <select id="avAreaLista" name="Area_ID" class="inputsTelaConferenciaConsulta form-control" multiple="multiple"
                                asp-items="@(new SelectList(Model.ListaArea, "AvArea_ID", "Nome_Pt"))"></select>
                    </div>

                    @*CONDICAO*@
                    <div class="col col-lg-offset-1 col-md-offset-1 col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <label for="avCondicaoLista" id="avCondicaoListaLabel">Condição</label>
                    </div>
                    <div class="col col-lg-6 col-md-6 col-sm-10 col-xs-10">
                        <select id="avCondicaoLista" name="Condicao_ID" class="inputsTelaConferenciaConsulta form-control" multiple="multiple"
                                asp-items="@(new SelectList(Model.ListaCondicao, "AvCondicao_ID", "Nome_Pt"))"></select>
                    </div>
                </div>

                <br />

                <!--Segundo row - Menu2 [Avarias]-->
                <div class="row">

                    @*DANO*@
                    <div class="col col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <label for="avDanoRepositorioLista" id="avDanoRepositorioListaLabel">Dano</label>
                    </div>
                    <div class="col-col-lg-2 col-md-2 col-sm-10 col-xs-10">
                        <select id="avDanoRepositorioLista" name="Dano_ID" class="inputsTelaConferenciaConsulta form-control" multiple="multiple"
                                asp-items="@(new SelectList(Model.ListaDano, "AvDano_ID", "Nome_Pt"))"></select>
                    </div>

                    @*GRAVIDADE*@
                    <div class="col col-lg-offset-1 col-md-offset-1 col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <label for="avGravidadeLista" id="avGravidadeLabel">Gravidade</label>
                    </div>
                    <div class="col col-lg-6 col-md-6 col-sm-10 col-xs-10">
                        <select id="avGravidadeLista" name="Gravidade_ID" class="inputsTelaConferenciaConsulta form-control" multiple="multiple"
                                asp-items="@(new SelectList(Model.ListaGravidade, "AvGravidade_ID", "Nome_Pt"))"></select>
                    </div>

                
                </div>

                <br />

                <!--Terceiro row - Menu2 [Avarias]-->
                <div class="row">
                    @*QUADRANTE*@
                    <div class="col col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <label for="avQuadranteLista" id="avQuadranteListaLabel">Quadrante</label>
                    </div>
                    <div class="col-col-lg-2 col-md-2 col-sm-10 col-xs-10">
                        <select id="avQuadranteLista" name="Quadrante_ID" class="inputsTelaConferenciaConsulta form-control" multiple="multiple"
                                asp-items="@(new SelectList(Model.ListaQuadrante, "AvQuadrante_ID", "Nome_Pt"))"></select>
                    </div>

                    @*SERVERIDADE*@
                    <div class="col col-lg-offset-1 col-md-offset-1 col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <label for="avSeveridadeLista" id="avSeveridadeListaLabel">Severidade</label>
                    </div>

                    <div class="col col-lg-6 col-md-6 col-sm-10 col-xs-10">
                        <select id="avSeveridadeLista" name="Severidade_ID" class="inputsTelaConferenciaConsulta form-control" multiple="multiple"
                                asp-items="@(new SelectList(Model.ListaSeveridade, "AvSeveridade_ID", "Nome_Pt"))"></select>
                    </div>
                </div>

                <br/>
                @*DEFEITO FABRICA*@
                <label>Defeito de Fábrica</label>
                <input name="Fabrica" type="checkbox" />

                @*DEFEITO TRANSPORTE*@
                <label>Defeito de Transporte</label>
                <input name="Transporte" type="checkbox" />



                @*DANO ORIGEM*@
                <label>Dano Origem</label>
                <input name="DanoOrigem" type="checkbox" />
            </div>
        </div>
    </div>



    <div class="form-group">
        <br /><br />
        <button type="submit" class="btn btn-primary">Consultar</button>
        <br /><br />
    </div>

</form>
<script>
    $('#ListaMarca').multipleSelect(
        {
            placeholder: "Selecione Marca"
        });
    $('#ListaModelo').multipleSelect(
        {
            placeholder: "Selecione Modelo"
        }
    );
    $("#avAreaLista").multipleSelect(
        {
            placeholder: "Selecione Área"
        });
    $("#avCondicaoLista").multipleSelect({
        placeholder: "Selecione Condicao"
    });
    $("#avDanoRepositorioLista").multipleSelect({
        placeholder: "Selecione Dano"
    });
    $("#avGravidadeLista").multipleSelect(
        {
            placeholder: "Selecione Gravidade"
        });
    $("#avQuadranteLista").multipleSelect(
        {
            placeholder: "Selecione Quadrante"
        });
    $('#avSeveridadeLista').multipleSelect(
        {
            placeholder: "Selecione Severidade"
        });
    $('#ListaTransportador').multipleSelect(
        {
            placeholder: "Selecione Transportador"
        });
    $('#ListaLocalCheckPoint').multipleSelect(
        {
            placeholder: "Selecione LocalCheckPoint"
        });
    $('#ListaLocalInspecao').multipleSelect(
        {
            placeholder: "Selecione LocalInspecao"
        });
</script>



