@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model VDT2.ViewModels.VisualizarAvariasViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/Inspecao/VisualizarAvarias.js"></script>
<div class="container">
    <div class="row" id="">
        <h4>Chassi: @Model.VIN_6</h4>
        <p>Avarias neste CheckPoint</p>
        <table class="table table-striped table-bordered table-hover">
            <tr class="danger">
                <th>Editar</th>
                <th>Área</th>
                <th>Condicao</th>
                <th>Dano</th>
                <th>Gravidade</th>
                <th>Quadrante</th>
                <th>Severidade</th>
            </tr>
            @foreach (var item in Model.Avarias)
                {
                @if (item.InspVeiculo_ID.Equals(Model.InspVeiculo_ID))
                    {
                    <tr>
                        <td><button type="button" value="@item.InspAvaria_ID" onclick="Btn_Click_EditarAvaria(this.value)">Editar</button></td>
                        <td>@item.Area_Pt</td>
                        <td>@item.Condicao_Pt</td>
                        <td>@item.Dano_Pt</td>
                        <td>@item.Gravidade_Pt</td>
                        <td>@item.Quadrante_Pt</td>
                        <td>@item.Severidade_Pt</td>
                        
                    </tr>
                    }
                }
        </table>
    </div>
</div>

<form asp-controller="Inspecao" asp-action="EditarAvarias" method="post" id="editarAvariaForm">
    <div hidden>
        <input type="text" name="inspAvaria_ID_form_editar" id="avariaIdFormSubmit" value="" />
    </div>
</form>

<div class="container">
    <div class="row" id="">
        <p>Avarias em Outros CheckPoints</p>
        <table class="table table-striped table-bordered table-hover">
            <tr class="warning">
                <th>Área</th>
                <th>Condicao</th>
                <th>Dano</th>
                <th>Gravidade</th>
                <th>Quadrante</th>
                <th>Severidade</th>

            </tr>
            @foreach (var item in Model.Avarias)
                {
                @if (!item.InspVeiculo_ID.Equals(Model.InspVeiculo_ID))
                    {
                    <tr>
                        <td>@item.Area_Pt</td>
                        <td>@item.Condicao_Pt</td>
                        <td>@item.Dano_Pt</td>
                        <td>@item.Gravidade_Pt</td>
                        <td>@item.Quadrante_Pt</td>
                        <td>@item.Severidade_Pt</td>
                    </tr>
                    }
                }
        </table>
    </div>
</div>

