@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model VDT2.ViewModels.InspecaoEditarAvariasViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/Inspecao/InspecaoEditarAvarias.js" asp-append-version="true"></script>


@if (Model == null || Model.avAreaLista == null || Model.avCondicaoLista == null || Model.avDanoLista == null || Model.avGravidadeLista == null || Model.avQuadranteLista == null || Model.avSeveridadeLista == null || Model.InspAvaria.InspAvaria_ID == 0 || Model.Fabricatransporte == null)
{
    <div class="alert alert-danger">
        <p><strong>Erro ao inicializar, por favor tente novamente mais tarde ou entre em contato com o suporte técnico</strong></p>
        <br />
        <button class="btn btn-primary" onclick="history.go(-1)">Voltar</button>
    </div>
}
else
{
    <div class="container">
        
        @if (ViewData["MensagemErro"] != null)
        {
            <div class="alert alert-danger">
                <p>@ViewData["MensagemErro"]</p>
            </div>
        }
    </div>

    @*Campos ocultos*@
    <div hidden>
        <input id="inspAvaria_IDHiddenDiv" value="@Model.InspAvaria.InspAvaria_ID" />
        <input id="areaHiddenDiv" value="@Model.InspAvaria.AvArea_ID" />
        <input id="condicaoHiddenDiv" value="@Model.InspAvaria.AvCondicao_ID" /><input id="inspAvariahiddendiv" value="@Model.InspAvaria.AvArea_ID" />
        <input id="danoHiddenDiv" value="@Model.InspAvaria.AvDano_ID" />
        <input id="gravidadeHiddenDiv" value="@Model.InspAvaria.AvGravidade_ID" />
        <input id="quadranteHiddenDiv" value="@Model.InspAvaria.AvQuadrante_ID" />
        <input id="severidadeHiddenDiv" value="@Model.InspAvaria.AvSeveridade_ID" />
        <input id="fabricatransporteHiddenDiv" value="@Model.InspAvaria.FabricaTransporte" />
    </div>

    <div class="container">
        <form asp-controller="Inspecao" asp-action="SalvarAvaria" id="formPrincipal" method="post" onsubmit="return ValidarFormularioInspecaoEditarAvarias()" enctype="multipart/form-data">
            <h4><strong>Editar Avarias</strong></h4><br />
            @*AREA*@
            <div class="form-group">
                <div class="row">
                    <div class="col col-lg-2 col-md-2  col-sm-5  col-xs-6 ladoesquerdo">
                        <label for="areaNumericoInput" id="areaNumericoInputLabel">Área</label>
                        <input type="text" id="areaNumericoInput" onchange="areaNumericoInputFunc()" required pattern="[0-9]+$" />
                    </div>
                    <div class="col col-lg-10 col-md-10 col-sm-7 col-xs-6 ladodireito">
                        <select id="avAreaLista" name="Area_ID" class="form-control" onchange="areaDropDownInputFunc()"
                                asp-items="@(new SelectList(Model.avAreaLista, "AvArea_ID", "Nome_Pt"))">
                            <option disabled selected>Área</option>
                        </select>
                    </div>
                </div>
            </div>

            @*CONDICAO*@
            <div class="form-group">
                <div class="row">
                    <div class="col col-lg-2 col-md-2  col-sm-5  col-xs-6 ladoesquerdo">
                        <label for="avCondicaoLista" id="avCondicaoListaLabel">Condição</label>
                        <input type="text" id="condicaoNumericoInput" onchange="condicaoNumericoInputFunc()" required pattern="[0-9]+$" />
                    </div>

                    <div class="col col-lg-10 col-md-10 col-sm-7 col-xs-6 ladodireito">
                        <select id="avCondicaoLista" name="Condicao_ID" class="form-control" onchange="condicaoDropDownInputFunc()"
                                asp-items="@(new SelectList(Model.avCondicaoLista, "AvCondicao_ID", "Nome_Pt"))">
                            <option disabled selected>Condição</option>
                        </select>
                    </div>
                </div>
            </div>

            @*DANO*@
            <div class="form-group">
                <div class="row">
                    <div class="col col-lg-2 col-md-2  col-sm-5  col-xs-6 ladoesquerdo">
                        <label for="avDanoRepositorioLista" id="avDanoRepositorioListaLabel">Dano</label>
                        <input type="text" id="danoNumericoInput" onchange="danoNumericoInputFunc()" required pattern="[0-9]+$" />
                    </div>
                    <div class="col col-lg-10 col-md-10 col-sm-7 col-xs-6 ladodireito">
                        <select id="avDanoRepositorioLista" name="Dano_ID" class="form-control" onchange="danoDropDownInputFunc()"
                                asp-items="@(new SelectList(Model.avDanoLista, "AvDano_ID", "Nome_Pt"))">
                            <option disabled selected>Dano</option>
                        </select>
                    </div>
                </div>
            </div>

            @*GRAVIDADE*@
            <div class="form-group">
                <div class="row">
                    <div class="col col-lg-2 col-md-2  col-sm-5  col-xs-6 ladoesquerdo">
                        <label for="avGravidadeLista" id="avGravidadeLabel">Gravidade</label>
                        <input type="text" id="gravidadeNumericoInput" onchange="gravidadeNumericoInputFunc()" required pattern="[0-9]+$" />
                    </div>
                    <div class="col col-lg-10 col-md-10 col-sm-7 col-xs-6 ladodireito">
                        <select id="avGravidadeLista" name="Gravidade_ID" class="form-control" onchange="gravidadeDropDownInputFunc()"
                                asp-items="@(new SelectList(Model.avGravidadeLista, "AvGravidade_ID", "Nome_Pt"))">
                            <option disabled selected>Gravidade</option>
                        </select>
                    </div>
                </div>
            </div>

            @*QUADRANTE*@
            <div class="form-group">
                <div class="row">
                    <div class="col col-lg-2 col-md-2  col-sm-5  col-xs-6 ladoesquerdo">
                        <label for="avQuadranteLista" id="avQuadranteListaLabel">Quadrante</label>
                        <input type="text" id="quadranteNumericoInput" onchange="quadranteNumericoInputFunc()" required pattern="[0-9]+$" />
                    </div>

                    <div class="col col-lg-10 col-md-10 col-sm-7 col-xs-6 ladodireito">
                        <select id="avQuadranteLista" name="Quadrante_ID" class="form-control" onchange="quadranteDropDownInputFunc()"
                                asp-items="@(new SelectList(Model.avQuadranteLista, "AvQuadrante_ID", "Nome_Pt"))">
                            <option disabled selected>Quadrante</option>
                        </select>
                    </div>
                </div>
            </div>

            @*SERVERIDADE*@
            <div class="form-group">
                <div class="row">
                    <div class="col col-lg-2 col-md-2  col-sm-5  col-xs-6 ladoesquerdo">
                        <label for="avSeveridadeLista" id="avSeveridadeListaLabel">Severidade</label>
                        <input type="text" id="severidadeNumericoInput" onchange="severidadeNumericoInputFunc()" required pattern="[0-9]+$" />
                    </div>
                    <div class="col col-lg-10 col-md-10 col-sm-7 col-xs-6 ladodireito">
                        <select id="avSeveridadeLista" name="Severidade_ID" class="form-control" onchange="severidadeDropDownInputFunc()"
                                asp-items="@(new SelectList(Model.avSeveridadeLista, "AvSeveridade_ID", "Nome_Pt"))">
                            <option disabled selected>Severidade</option>
                        </select>
                    </div>
                </div>
            </div>

            @*DEFEITO DE FABRICA OU TRANSPORTADOR *@
            <div class="form-group">
                <div class="row">
                    <div class="col col-lg-offset-2 col-md-offset-2 col-xs-offset-1 col-lg-1 col-md-2  col-sm-4  col-xs-6 ladoesquerdo">
                        <label class="radioRegistrarAvarias"><input asp-for="@Model.Fabricatransporte" id="inputFabrica" value="F" type="radio" required /> Fábrica</label>
                    </div>
                    <div class="col col-lg-6 col-md-6  col-sm-8  col-xs-5 ladoesquerdo">
                        <label class="radioRegistrarAvarias"><input asp-for="@Model.Fabricatransporte" id="inputTransporte" value="T" type="radio" required /> Transporte</label>
                    </div>
                </div>
            </div><br />

            @*Avaria_ID*@
            <div hidden>
                <input name="InspAvaria_ID" value="@Model.InspAvaria.InspAvaria_ID" />
            </div>


            <div class="row">
                <div class="form-group">
                    @*FOTO1*@
                    <div class="col col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <span id="spanFoto1" class="inspecaoEditarAvarias-span glyphicon glyphicon-camera"></span>
                        <p id="qtdFotosSelecionadas1"></p>
                        <a id="visualizar1">Foto</a>
                        <div hidden>
                            <input type="file" id="inputFileImgAvaria1" class="success" name="files" multiple accept="image/*" onchange="MostrarFotosSelecionadas(1)" />

                        </div>
                    </div>

                    @*FOTO2*@
                    <div id="divspanFoto2" class="col col-lg-1 col-md-1 col-sm-1 col-xs-1" hidden>
                        <span id="spanFoto2" class="inspecaoEditarAvarias-span glyphicon glyphicon-plus"></span>
                        <p id="qtdFotosSelecionadas2"></p>
                        <a id="visualizar2">Foto</a>
                        <div hidden>
                            <input type="file" id="inputFileImgAvaria2" class="success" name="files" multiple accept="image/*" onchange="MostrarFotosSelecionadas(2)" />
                        </div>
                    </div>

                    @*FOTO3*@
                    <div id="divspanFoto3" class="col col-lg-1 col-md-1 col-sm-1 col-xs-1" hidden>
                        <span id="spanFoto3" class="inspecaoEditarAvarias-span glyphicon glyphicon-plus"></span>
                        <p id="qtdFotosSelecionadas3"></p>
                        <a id="visualizar3">Foto</a>
                        <div hidden>
                            <input type="file" id="inputFileImgAvaria3" class="success" name="files" multiple accept="image/*" onchange="MostrarFotosSelecionadas(3)" />
                        </div>
                    </div>

                    @*FOTO4*@
                    <div id="divspanFoto4" class="col col-lg-1 col-md-1 col-sm-1 col-xs-1" hidden>
                        <span id="spanFoto4" class="inspecaoEditarAvarias-span glyphicon glyphicon-plus"></span>
                        <p id="qtdFotosSelecionadas4"></p>
                        <a id="visualizar4">Foto</a>
                        <div hidden>
                            <input type="file" id="inputFileImgAvaria4" class="success" name="files" multiple accept="image/*" onchange="MostrarFotosSelecionadas(4)" />
                        </div>
                    </div>

                    @*FOTO5*@
                    <div id="divspanFoto5" class="col col-lg-1 col-md-1 col-sm-1 col-xs-1" hidden>
                        <span id="spanFoto5" class="inspecaoEditarAvarias-span glyphicon glyphicon-plus"></span>
                        <p id="qtdFotosSelecionadas5"></p>
                        <a id="visualizar5">Foto</a>
                        <div hidden>
                            <input type="file" id="inputFileImgAvaria5" class="success" name="files" multiple accept="image/*" onchange="MostrarFotosSelecionadas(5)" />
                        </div>
                    </div>

                    @*FOTO6*@
                    <div id="divspanFoto6" class="col col-lg-1 col-md-1 col-sm-1 col-xs-1" hidden>
                        <span id="spanFoto6" class="inspecaoEditarAvarias-span glyphicon glyphicon-plus"></span>
                        <p id="qtdFotosSelecionadas6"></p>
                        <a id="visualizar6">Foto</a>
                        <div hidden>
                            <input type="file" id="inputFileImgAvaria6" class="success" name="files" multiple accept="image/*" onchange="MostrarFotosSelecionadas(6)" />
                        </div>
                    </div>

                    @*FOTO7*@
                    <div id="divspanFoto7" class="col col-lg-1 col-md-1 col-sm-1 col-xs-1" hidden>
                        <span id="spanFoto7" class="inspecaoEditarAvarias-span glyphicon glyphicon-plus"></span>
                        <p id="qtdFotosSelecionadas7"></p>
                        <a id="visualizar7">Foto</a>
                        <div hidden>
                            <input type="file" id="inputFileImgAvaria7" class="success" name="files" multiple accept="image/*" onchange="MostrarFotosSelecionadas(7)" />
                        </div>
                    </div>

                    @*FOTO8*@
                    <div id="divspanFoto8" class="col col-lg-1 col-md-1 col-sm-1 col-xs-1" hidden>
                        <span id="spanFoto8" class="inspecaoEditarAvarias-span glyphicon glyphicon-plus"></span>
                        <p id="qtdFotosSelecionadas8"></p>
                        <a id="visualizar8">Foto</a>
                        <div hidden>
                            <input type="file" id="inputFileImgAvaria8" class="success" name="files" multiple accept="image/*" onchange="MostrarFotosSelecionadas(8)" />
                        </div>
                    </div>

                    @*FOTO9*@
                    <div id="divspanFoto9" class="col col-lg-1 col-md-1 col-sm-1 col-xs-1" hidden>
                        <span id="spanFoto9" class="inspecaoEditarAvarias-span glyphicon glyphicon-plus"></span>
                        <p id="qtdFotosSelecionadas9"></p>
                        <a id="visualizar9">Foto</a>
                        <div hidden>
                            <input type="file" id="inputFileImgAvaria9" class="success" name="files" multiple accept="image/*" onchange="MostrarFotosSelecionadas(9)" />
                        </div>
                    </div>

                    @*FOTO10*@
                    <div id="divspanFoto10" class="col col-lg-1 col-md-1 col-sm-1 col-xs-1" hidden>
                        <span id="spanFoto10" class="inspecaoEditarAvarias-span glyphicon glyphicon-plus"></span>
                        <p id="qtdFotosSelecionadas10"></p>
                        <a id="visualizar10">Foto</a>
                        <div hidden>
                            <input type="file" id="inputFileImgAvaria10" class="success" name="files" multiple accept="image/*" onchange="MostrarFotosSelecionadas(10)" />
                        </div>
                    </div><br />

                </div>
            </div>

            <br />
            <img id="imgpreview" src="#" alt="your image" /><br />
            <div class="divVisualizarImagemTelaRegistrarAvariasBotoesRemover form-group">
                <button type="button" id="btnRemoverFoto1" class="removerbotao btn btn-danger">Remover</button>
                <button type="button" id="btnRemoverFoto2" class="removerbotao btn btn-danger">Remover</button>
                <button type="button" id="btnRemoverFoto3" class="removerbotao btn btn-danger">Remover</button>
                <button type="button" id="btnRemoverFoto4" class="removerbotao btn btn-danger">Remover</button>
                <button type="button" id="btnRemoverFoto5" class="removerbotao btn btn-danger">Remover</button>
                <button type="button" id="btnRemoverFoto6" class="removerbotao btn btn-danger">Remover</button>
                <button type="button" id="btnRemoverFoto7" class="removerbotao btn btn-danger">Remover</button>
                <button type="button" id="btnRemoverFoto8" class="removerbotao btn btn-danger">Remover</button>
                <button type="button" id="btnRemoverFoto9" class="removerbotao btn btn-danger">Remover</button>
                <button type="button" id="btnRemoverFoto10" class="removerbotao btn btn-danger">Remover</button>
            </div>

            <div class="form-group">
                <br /><br />
                <div class="row">
                    <div class="col col-lg-2 col-md-3 col-sm-4 col-xs-6">
                        <button type="button" id="btnGravar" class="botoesTelaEditarAvarias btn btn-sm btn-success" onclick="EnviarFormularioDesabilitarBotao(this)"><span class="glyphicon glyphicon-ok"></span> Gravar</button>
                    </div>

                    <div class="col col-lg-10 col-md-9 col-sm-8 col-xs-6">
                        <button type="button" class="botoesTelaEditarAvarias btn btn-sm btn-warning" onClick="history.go(-1)"><span class="glyphicon glyphicon-arrow-left"></span> Voltar</button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col col-lg-2 col-md-3 col-sm-4 col-xs-6">
                        <button type="button" id="btnEditarVeiculo" name="tipoBotao" value="3" class="botoesTelaEditarAvarias btn btn-warning btn-sm" onclick="EditarVeiculo_BtnCLick()"><span class="glyphicon glyphicon-pencil"></span>&nbsp Veículo</button>
                    </div>
                    <div class="col col-lg-10 col-md-9 col-sm-8 col-xs-6">
                        <button type="button" value="Nova Inspeção" class="botoesTelaEditarAvarias btn btn-info btn-sm" onclick="location.href='@Url.Action("NovaInspecao", "Inspecao")'"><span class="glyphicon glyphicon-plus"> </span>&nbsp Nova inspeção</button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col col-lg-2 col-md-3 col-sm-4 col-xs-6">
                        <button type="button" id="btnNovoVeiculo" name="tipoBotao" value="5" class="botoesTelaEditarAvarias btn btn-info btn-sm" onclick="NovoVeiculo_BtnCLick()"><span class="glyphicon glyphicon-plus"> </span>&nbsp Novo Veículo</button>
                    </div>
                </div>
            </div>
        </form>


        @*Ação do botão EditarVeiculo*@
        <div class="row">
            <form asp-controller="Inspecao" asp-action="EditarVeiculo" method="post" id="editarVeiculoForm">
                <input name="Inspecao_ID" value="@Model.InspVeiculo.Inspecao_ID" hidden />
                <input name="inspVeiculo_ID" value="@Model.InspVeiculo.InspVeiculo_ID" hidden />
                <input name="VIN_6" value="@Model.InspVeiculo.VIN_6" hidden />
            </form>
        </div>

        @*Ação do botão Proximo Veículo*@
        <div class="row" hidden>
            <form asp-controller="Inspecao" asp-action="NovoVeiculo" method="post" id="novoVeiculoForm">
                <input name="Inspecao_ID" value="@Model.InspVeiculo.Inspecao_ID" hidden />
                <input name="inspVeiculo_ID" value="@Model.InspVeiculo.InspVeiculo_ID" hidden />
            </form>
        </div>
        <br /> <br />

        @*FOTOS*@
        @if(Model.ImagemAvarias.Count() > 0) { 
        <div id="divEditarAvarias-Fotos">
            <p><strong>Fotos</strong></p>
            <div>
                @foreach (var item in Model.ImagemAvarias)
                {
                    <br />
                        <div class="row" id="@item.Imagem">
                            <div class="divFotoeBotaoTelaInspecaoEditarAvarias">
                                <div class="col col-lg-12 col-md-12 col-xs-12">
                                    <img class="img-editar-avaria img-thumbnail" src="~/Inspecao/Foto?imagem=@item.Imagem&inspAvaria_ID=@Model.InspAvaria.InspAvaria_ID" />
                                </div><br />
                                <div class="col col-lg-12 col-md-12 col-xs-12">
                                    <button type="button" class="btnRemoverImagemTelaEditarAvarias btn btn-sm btn-danger" hidden value="@item.Imagem _ @Model.InspAvaria.InspAvaria_ID" onclick='removerImagemAvaria(this.value)'>Remover Imagem</button>
                                </div>
                            </div>
                        </div>
                }
            </div>
        </div>
        }
    </div>
        <br /><br /><br />
}
