@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model VDT2.ViewModels.InspecaoVeiculoRegistrarAvariasVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/InspecaoRegistrarAvarias.js"></script>


<div class="container">
    <form asp-controller="Inspecao" asp-action="InserirAvaria" method="post" onsubmit="return ValidarFormularioInserirAvaria()">

        <div id="formulario-veiculo" class="">

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label asp-for="dadosUsuario.Nome">Inspetor: @Model.dadosUsuario.Nome</label>
                        <input asp-for="dadosUsuario.Nome" hidden /><br />
                    </div>
                </div>
                <div class="col-sm-6">
                    <label asp-for="insVeiculo.InspVeiculo_ID">Inspecao Veiculo: @Model.insVeiculo.InspVeiculo_ID</label>
                    <input name="inspVeiculo_ID" value="@Model.insVeiculo.InspVeiculo_ID" hidden />
                    <input name="Inspecao_ID" value="@Model.insVeiculo.Inspecao_ID" hidden />
                    <input name="VIN_6" value="@Model.insVeiculo.VIN_6" hidden />
                </div>
            </div>
            <button class="btn btn-info btn-sm" value="Nova Inspeção" onclick="location.href='@Url.Action("Index", "Inspecao")'"><span class="glyphicon glyphicon-plus"> </span> Nova inspeção</button>


            @*AREA*@
            <br /><br />
            <div class="form-group">
                <div class="container">
                    <div class="row">
                        <div class="col col-lg-2 col-md-6  col-sm-5  col-xs-6 ladoesquerdo">
                            <label for="areaNumericoInput" id="areaNumericoInputLabel">Area</label>
                            <input type="text" id="areaNumericoInput" onchange="areaNumericoInputFunc()" required pattern="[0-9]+$" />
                        </div>
                        <div class="col col-lg-10 col-md-6 col-sm-7 col-xs-6 ladodireito">
                            <select id="avAreaLista" name="Area_ID" class="form-control" onchange="areaDropDownInputFunc()"
                                    asp-items="@(new SelectList(Model.avAreaLista,"AvArea_ID","Nome_Pt"))">
                                <option disabled selected>Área</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            @*CONDICAO*@
            <div class="form-group">
                <div class="container">
                    <div class="row">
                        <div class="col col-lg-2 col-md-6  col-sm-5  col-xs-6 ladoesquerdo">
                            <label for="avCondicaoLista" id="avCondicaoListaLabel">Condicao</label>
                            <input type="text" id="condicaoNumericoInput" onchange="condicaoNumericoInputFunc()" required pattern="[0-9]+$" />
                        </div>

                        <div class="col col-lg-10 col-md-6 col-sm-7 col-xs-6 ladodireito">
                            <select id="avCondicaoLista" name="Condicao_ID" class="form-control" onchange="condicaoDropDownInputFunc()"
                                    asp-items="@(new SelectList(Model.avCondicaoLista,"AvCondicao_ID","Nome_Pt"))">
                                <option disabled selected>Condição</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            @*DANO*@
            <div class="form-group">
                <div class="container">
                    <div class="row">
                        <div class="col col-lg-2 col-md-6  col-sm-5  col-xs-6 ladoesquerdo">
                            <label for="avDanoRepositorioLista" id="avDanoRepositorioListaLabel">Dano</label>
                            <input type="text" id="danoNumericoInput" onchange="danoNumericoInputFunc()" required pattern="[0-9]+$" />
                        </div>
                        <div class="col col-lg-10 col-md-6 col-sm-7 col-xs-6 ladodireito">
                            <select id="avDanoRepositorioLista" name="Dano_ID" class="form-control" onchange="danoDropDownInputFunc()"
                                    asp-items="@(new SelectList(Model.avDanoRepositorioLista,"AvDano_ID","Nome_Pt"))">
                                <option disabled selected>Dano</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            @*GRAVIDADE*@
            <div class="form-group">
                <div class="container">
                    <div class="row">
                        <div class="col col-lg-2 col-md-6  col-sm-5  col-xs-6 ladoesquerdo">
                            <label for="avGravidadeLista" id="avGravidadeLabel">Gravidade</label>
                            <input type="text" id="gravidadeNumericoInput" onchange="gravidadeNumericoInputFunc()" required pattern="[0-9]+$" />
                        </div>
                        <div class="col col-lg-10 col-md-6 col-sm-7 col-xs-6 ladodireito">
                            <select id="avGravidadeLista" name="Gravidade_ID" class="form-control" onchange="gravidadeDropDownInputFunc()"
                                    asp-items="@(new SelectList(Model.avGravidadeLista,"AvGravidade_ID","Nome_Pt"))">
                                <option disabled selected>Gravidade</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            @*QUADRANTE*@
            <div class="form-group">
                <div class="container">
                    <div class="row">
                        <div class="col col-lg-2 col-md-6  col-sm-5  col-xs-6 ladoesquerdo">
                            <label for="avQuadranteLista" id="avQuadranteListaLabel">Quadrante</label>
                            <input type="text" id="quadranteNumericoInput" onchange="quadranteNumericoInputFunc()" required pattern="[0-9]+$" />
                        </div>

                        <div class="col col-lg-10 col-md-6 col-sm-7 col-xs-6 ladodireito">
                            <select id="avQuadranteLista" name="Quadrante_ID" class="form-control" onchange="quadranteDropDownInputFunc()"
                                    asp-items="@(new SelectList(Model.avQuadranteLista,"AvQuadrante_ID","Nome_Pt"))">
                                <option disabled selected>Quadrante</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            @*SERVERIDADE*@
            <div class="form-group">
                <div class="container">
                    <div class="row">
                        <div class="col col-lg-2 col-md-6  col-sm-5  col-xs-6 ladoesquerdo">
                            <label for="avSeveridadeLista" id="avSeveridadeListaLabel">Severidade</label>
                            <input type="text" id="severidadeNumericoInput" onchange="severidadeNumericoInputFunc()" required pattern="[0-9]+$" />
                        </div>
                        <div class="col col-lg-10 col-md-6 col-sm-7 col-xs-6 ladodireito">
                            <select id="avSeveridadeLista" name="Severidade_ID" class="form-control" onchange="severidadeDropDownInputFunc()"
                                    asp-items="@(new SelectList(Model.avSeveridadeLista,"AvSeveridade_ID","Nome_Pt"))">
                                <option disabled selected>Severidade</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>



            @*DEFEITO DE FABRICA OU TRANSPORTADOR *@
            <div class="form-group">
                <input asp-for="@Model.fabricatransporte" value="F" type="radio" required />Fabrica
                <input asp-for="@Model.fabricatransporte" value="T" type="radio" required />Transporte

            </div>

            @*BTN - Gravar Avarias*@
            @*<input type="button" class="btn btn-primary" value="Voltar" onClick="history.go(-1)">*@ 
            <button type="submit" id="btnGravarAvarias" name="tipoBotao" value="1" class="btn btn-success">Gravar</button>
            <button type="button" id="btnListarAvariasB" name="tipoBotao" value="2" class="btn btn-danger" onclick="VisualizarAvarias_BtnClick()">Avarias</button>

        </div>

    </form>

    @*Não estamos mais utilizando deletar a parte do botão*@
    @*BTN Visualizar AVARIAS*@
    <div class="container">
        <div class="row">
            <div class="col col-md-offset-0 col-lg-offset-0 col-sm-offset-0 col-xs-offset-0">
                <div class="form-group">
                    <form asp-controller="Inspecao" asp-action="VisualizarAvarias" method="post" id="visualizarAvariasForm">
                        <input name="Inspecao_ID" value="@Model.insVeiculo.Inspecao_ID" hidden />
                        <input name="inspVeiculo_ID" value="@Model.insVeiculo.InspVeiculo_ID" hidden />
                        <input name="VIN_6" value="@Model.insVeiculo.VIN_6" hidden />
                    </form>
                </div>
            </div>
        </div>
    </div>

    @if (Model.listaAvarias.Count > 0)
                {
        <br>
        <div class="row" id="mostrarAvarias">
            <h4>Avarias neste CheckPoint</h4>
            <table class="table table-striped table-bordered table-hover">
                <tr class="warning">
                    <th>Área</th>
                    @*<th>Condicao</th>*@
                    <th>Dano</th>
                    @*<th>Gravidade</th>
                    <th>Quadrante</th>
                    <th>Severidade</th>*@

                </tr>
                @foreach (var item in Model.listaAvarias)
                    {
                    @if (item.Inspecao_ID.Equals(Model.insVeiculo.Inspecao_ID))
                        {
                        <tr>
                            <td>@item.Area_Pt</td>
                            @*<td>@item.Condicao_Pt</td>*@
                            <td>@item.Dano_Pt</td>
                            @*<td>@item.Gravidade_Pt</td>
                            <td>@item.Quadrante_Pt</td>
                            <td>@item.Severidade_Pt</td>*@
                        </tr>
                        }
                    }
            </table>
        </div>
        }
</div>





















